<link
    rel="stylesheet"
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
    crossorigin="anonymous"
/>
<script
    src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"
></script>
<script
    src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
    integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
    crossorigin="anonymous"
></script>
<script
    src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
    integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
    crossorigin="anonymous"
></script>

<style>
    .mytheme {
        background-color: #343a40;
    }
</style>

<!--nav bar-->
<nav class="navbar navbar-light mytheme" style="height: 12%">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-2">
                <img
                    src="static/cbit.ico"
                    width="100%"
                    height="100%"
                    class="d-inline-block align-top"
                    alt=""
                    style="margin-left: 0%"
                />
            </div>
            <div class="col-sm-10" style="padding-left: 0">
                <h4
                    class="font-weight-bold"
                    style="color: azure; margin-left: 5%; margin-top: 5%"
                >
                    Attendance Helper
                </h4>
            </div>
        </div>
    </div>
</nav>

<!--Body-->
{% if error %}
<div class="alert alert-danger" role="alert">{{ error }}</div>
{% endif %}

<!--Upload files and submit-->
<div class="container-fluid">
    <center>
        <p style="margin-top: 2%">
            This tools extracts and gives you proper attendence from the
            Microsoft Teams attendance file.
        </p>
    </center>
    <!--first row-->
    <form action="/" method="POST" enctype="multipart/form-data">
        <div
            class="row"
            style="margin-top: 2%; margin-left: 8%; margin-right: 8%"
        >
            <div class="col-sm-4">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span
                            class="input-group-text mytheme"
                            style="color: cornsilk"
                            id="inputGroupFileAddon01"
                            >Upload</span
                        >
                    </div>
                    <div class="custom-file">
                        <input
                            type="file"
                            name="file"
                            class="custom-file-input"
                            id="inputGroupFile01"
                            accept=".csv"
                        />
                        <label class="custom-file-label" for="inputGroupFile01"
                            >Choose file</label
                        >
                    </div>
                    <script>
                        // Add the following code if you want the name of the file appear on select
                        $(".custom-file-input").on("change", function () {
                            var fileName = $(this).val().split("\\").pop();
                            $(this)
                                .siblings(".custom-file-label")
                                .addClass("selected")
                                .html(fileName);
                        });
                    </script>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <label
                            class="input-group-text mytheme"
                            style="color: cornsilk"
                            for="inputGroupSelect01"
                            >Year</label
                        >
                    </div>
                    <select
                        class="custom-select"
                        name="year"
                        id="year"
                        required
                    >
                        <option selected value="">Choose...</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                    </select>
                    <script type="text/javascript">
                        $(document).ready(function(){
                            $('#year').change();
                        });
                    </script>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <label
                            class="input-group-text mytheme"
                            style="color: cornsilk"
                            for="inputGroupSelect01"
                            >Branch</label
                        >
                    </div>
                    <select
                        class="custom-select"
                        name="branch"
                        id="branch"
                        required
                    >
                        <option selected value="">Choose...</option>
                        <option value="cse">CSE</option>
                        <option value="ece">ECE</option>
                        <option value="it">IT</option>
                    </select>
                </div>
            </div>
        </div>
        <!--second row-->
        <div
            class="row"
            style="margin-top: 2%; margin-left: 8%; margin-right: 8%"
        >
            <div class="col-sm-12 justify-content-right">
                <div class="input-group mb-3">
                    <!--choice buttons-->
                    <div class="input-group-prepend" style="margin-right: 3%">
                        <label
                            class="input-group-text"
                            style="background-color: #333333; color: cornsilk"
                            for="inputGroupSelect01"
                            >Section</label
                        >
                    </div>
                    <div class="form-check form-check-inline" required>
                        <input name="section" value="1" type="checkbox" aria-label="1"/>&nbsp; 1 &nbsp;
                        <input name="section" value="2" type="checkbox" aria-label="2"/>&nbsp; 2 &nbsp;
                        <input name="section" value="3" type="checkbox" aria-label="3"/>&nbsp; 3 &nbsp;
                    </div>
                        
                    <!--Elective Dropdown List-->
                    <div class="input-group-prepend" style="margin-left: 4%">
                        <label
                            class="input-group-text"
                            style="background-color: #333333; color: cornsilk"
                            for="inputGroupSelect01"
                            >Choose Subject</label
                        >
                    </div>
                    <select class="custom-select" name= "subject" id="subject" required>
                        <option selected value="">Choose...</option>
                    </select>
                </div>
            </div>
        </div>
        <!--third row-->
        <div class="row">
            <div
                class="col-sm-12 d-flex justify-content-center"
                style="margin-top: 2%"
            >
                <div class="input-group-append">
                    <button
                        class="btn"
                        style="
                            background-color: green;
                            color: white;
                            white-space: nowrap;
                            margin-right: 4%;
                        "
                        type="submit"
                    >
                        Get Results
                    </button>
                    {% if file_download_url %}
                    <a
                        class="btn"
                        href="downloads/{{ file_download_url }}"
                        target="blank"
                        style="
                            background-color: brown;
                            color: white;
                            white-space: nowrap;
                        "
                        type="submit"
                    >
                        Download Sheet
                    </a>
                    {% endif %}
                </div>
            </div>
        </div>
    </form>
</div>
<div class="container-fluid">
    <!---third row-->
    <div
        class="row"
        style="
            margin-top: 2%;
            margin-left: 12%;
            margin-right: 8%;
            margin-bottom: 8%;
        "
    >
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
                <a
                    class="nav-link active"
                    id="present-tab"
                    data-toggle="tab"
                    href="#present"
                    role="tab"
                    aria-controls="present"
                    aria-selected="true"
                    >Present</a
                >
            </li>
            <li class="nav-item">
                <a
                    class="nav-link"
                    id="absent-tab"
                    data-toggle="tab"
                    href="#absent"
                    role="tab"
                    aria-controls="absent"
                    aria-selected="false"
                    >Absent</a
                >
            </li>
            <li class="nav-item">
                <a
                    class="nav-link"
                    id="guests-tab"
                    data-toggle="tab"
                    href="#guests"
                    role="tab"
                    aria-controls="guests"
                    aria-selected="false"
                    >Guests</a
                >
            </li>
        </ul>
        <div class="tab-content container" id="myTabContent">
            <div
                class="tab-pane fade show active"
                id="present"
                role="tabpanel"
                aria-labelledby="present-tab"
            >
                <table class="table" style="margin-top: 2%">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Roll Number</th>
                            <th scope="col">Name</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% if report %} {% for student in report['present_data']
                        %}

                        <tr>
                            <th scope="row">{{ student['sno'] }}</th>
                            <td>{{ student['roll'] }}</td>
                            <td>{{ student['name'] }}</td>
                        </tr>

                        {% endfor %} {% endif %}
                    </tbody>
                </table>
            </div>
            <div
                class="tab-pane fade"
                id="absent"
                role="tabpanel"
                aria-labelledby="absent-tab"
            >
                <table class="table" style="margin-top: 2%">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Roll Number</th>
                            <th scope="col">Name</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% if report %} {% for student in report['absent_data']
                        %}

                        <tr>
                            <th scope="row">{{ student['sno'] }}</th>
                            <td>{{ student['roll'] }}</td>
                            <td>{{ student['name'] }}</td>
                        </tr>

                        {% endfor %} {% endif %}
                    </tbody>
                </table>
            </div>
            <div
                class="tab-pane fade"
                id="guests"
                role="tabpanel"
                aria-labelledby="guests-tab"
            >
                <table class="table" style="margin-top: 2%">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Guest Logins</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% if report %} {% for student in report['unknown_data']
                        %}

                        <tr>
                            <th scope="row">{{ student['sno'] }}</th>
                            <td>{{ student['name'] }}</td>
                        </tr>

                        {% endfor %} {% endif %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<footer
    class="footer"
    style="padding: 10px; position: relative; bottom: 0; width: 100%"
>
    <div class="container" style="text-align-last: right">
        <p style="color: lightslategray; font-size: 14px">
            Made by :
            <a href="mailto: chkousthubha@gmail.com"> @C3_4/4 </a>
        </p>
    </div>
</footer>

<script>
const list_of_subjects = []
{% for subj in list_of_subjects %}
    list_of_subjects.push({'ename':'{{subj.ename}}','eid':'{{subj.eid}}','branch':'{{subj.branch}}','year':'{{subj.year}}'});
{% endfor %}

$(document).ready(function(){
        $('#branch').change(function(){
            $('#subject').html('');
            $('#subject').append('<option value="" selected>Choose...</option>');
            $('#subject').append('<option value="-1">Common Subject</option>');
            var year = document.getElementById("year").value;
            var branch = document.getElementById("branch").value;
            for(subj of list_of_subjects){
                if(subj.year == year && subj.branch==branch){
                    $('#subject').append('<option value='+ subj.eid +'> '+ subj.ename+' </option>');
                }
            }
        });
        $('#year').change(function(){
            $('#subject').html('');
            $('#subject').append('<option value="" selected>Choose...</option>');
            $('#subject').append('<option value="-1"> Common Subject </option>');
            var year = document.getElementById("year").value;
            var branch = document.getElementById("branch").value;
            for(subj of list_of_subjects){
                if(subj.year == year && subj.branch==branch){
                    $('#subject').append('<option value='+ subj.eid +'> '+ subj.ename+' </option>');
                }
            }
        });
});
</script>
